
* {
  font-family: 'Atma', sans-serif;
}

h1 {
  margin: 10px 0;
}

.addbooks {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  border: 1px solid black;
  width: 100px;
  margin-top: 20px;
}

.booksoutput {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid black;
  width: 100%;
}

.addedbook > * {
  margin: 1px;
}

.booksoutput > *:nth-child(odd) {
  background-color: #ddd;
}

input {
  border: 2px solid black;
  padding: 5px;
  margin: 5px 0;
}

textarea:focus,
input:focus {
  outline: none;
}

.controls {
  display: flex;
  justify-content: flex-end;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 15px;
  cursor: pointer;
  background: rgb(245, 242, 242);
  border: 3px solid black;
  color: rgb(26, 25, 25);
}

.innerdata {
  display: flex;
}

button:hover {
  transition: all 0.5s ease;
  background: white;
  color: black;
}

.addedbook {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.outputsection{
  width: 100%;
}
.navwrapper{
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  margin: 3px;
  padding: 3px;
}
ul{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin:0;
}
ul > li{
  list-style-type: none;
}
.notvisible{
  display: none;
}
.visible{
  display: block;
}
p {
  margin: 5px 0 5px 0;
}
